.product {
    &_content {
        width: 520px;
        padding-left: 40px;
    }
    &_title {
        padding-bottom: 10px;
    }
    &_description {
        padding-top: 30px;
        padding-bottom: 8px;
    }
    &_cart {
        &__block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
        }
    }
    &_btn {
        &__block {
            margin-top: 30px;
            display: flex;
            align-items: center;

            div {
                margin-right: 40px;
            }
        }
    }
}


@media (max-width: 992px) {
    .product {
        &_content {
            width: 100%;
            padding-left: 0;
        }
        &_btn {
            &__block {
                justify-content: start;

                div {
                    margin-right: 20px;
                }
            }
        }
    }

}

@media (max-width: 430px) {
    .product {
        &_btn {
            &__block {
                justify-content: center;
                flex-direction: column;

                div {
                    margin-right: 0px;
                    width: 100%;
                    margin-bottom: 15px;
                }
            }
        }
    }
}

