
.additional {
    &_nav {
        &_img {
            margin-bottom: 7px;
            min-height: 65px;


            path {
                transition: all .2s;
            }
        }
        &_profile {
            display: flex;
            flex-direction: column;
            align-items: center;

            span {
                text-align: center;
            }
            &:hover {
                path {
                    fill: #fff;
                }
            }
        }
        
    }
}