.header {
    transition: all .2s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
    z-index: 999;

    &_svg {
        display: block;
        position: relative;
        margin-left: 16px;
        svg {
            object-fit: contain;

            g {
                transition: all .0s;
            }
        }

        &:hover {
            g {
                fill: #f79e1c;
                transition: all .2s;
            }
        }
    }
    &_contacts {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0px 14px;
    }
    &_social__block {
        display: flex;
        align-items: center;
    }
   
}